.mantine-AppShell-footer {
    border: none !important;
}

.mantine-Card-root[data-with-border] {
    border-width: 2px !important;
    transition: box-shadow 0.4s ease;
}

.mantine-Card-root[data-with-border],
.mantine-Card-root[data-with-border].isActive {
    border-color: var(--mantine-color-theme-6);
    box-shadow:
      inset 0 0 0 1px var(--mantine-color-theme-6),
      0 0 0 5px var(--mantine-color-theme-1);
    border-radius: 0%;
}

.mantine-Textarea-input {
    min-height: 120px !important;
}

.mantine-TextInput-label {
    font-weight: '700' !important;
}
